site/*
*.ucdb
covhtmlreport/*
work/*
transcript
*.ini
*.wlf
.moore
*.vstf
wlft*
*nfs*
src/moore.sv
*.sig
*.dtb
*.dasm
build/*
/tmp*
*.dasm
/Bender.lock
/Bender.local
build/
*.vcd
*.log
*.out
*.jou
*.o
uart
work-ver/*
fpga/work-fpga
stdout/
work-dpi/
tb/riscv-isa-sim/
work-*/*
install/
xrun_results/
sw/app/cachetest
sw/app/cachetest_1
sw/app/cachetest_2_1
sw/app/cachetest_2_2
sw/app/cachetest_2_3
sw/app/cachetest_2_4
sw/app/cachetest_3
sw/app/cachetest_4
sw/app/cachetest_5_1
sw/app/cachetest_5_2
sw/app/cachetest_5_3
sw/app/cachetest_6
sw/app/cachetest_7
sw/app/cachetest_8
sw/app/test_cache
sw/app/test_csr
sw/app/non_cacheable
*.bin
*.riscv
*.D
*.a
*.hex
*.mem
PHOTOS
